.header-bar {
  border-bottom: solid 1px #25314282;
  box-shadow: 0 -20px 40px 25px rgba(0, 0, 0, 0.5);
}

.nav-link {
  color: #cbd5e1;
}

.nav-link:hover {
  color: #34d399;
}

.nav-link.is-active {
  color: #34d399;
}
